{% extends '::base.html.twig' %}

{% block body -%}
<p>Hello {{ app.user.username }}</p>

<ul>
    {% for role in app.user.getRoles %}
    <li>{{ role.role }} </li>
    {% endfor %}
</ul>

{% endblock %}