{% extends '::base.html.twig' %}

{% block body -%}

<h1>Password changed</h1>

<p>Your password has been successfully changed. You may now
    <a href="{{ path("login") }}">login</a>.</p>


{% endblock %}