{% extends '::base.html.twig' %}

{% block body -%}

<p>Password reset instructions have been sent to {{ username }}. Enter the
    password reset code to <a href="{{ path('password_confirm') }}">change your password</a>.</p>
{% endblock %}
