{% extends '::base.html.twig' %}

{% block body -%}
<h1>User password</h1>

<p>Change the password for {{ entity.username }}.

    {{ form(password_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
