<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}LOCKSS-O-MATIC{% endblock %}</title>
    </head>
    <body>

        <header>
            <nav>
                <ul>
                {% if app.user %}
                    <li>Users</li>
                    <li>Roles</li>
                    <li>Logout</li>
                {% else %}
                    <li>Login</li>
                {% endif %}
                </ul>
        </header>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>